﻿@model System.Collections.Generic.IEnumerable<Furniture_Shop.Data.Models.Furniture>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var item in Model)
      {
          <hr/>
          <p>Name: @item.Name</p>
          <p>Cathegory: @item.Category.Name</p>
          <p>Price: @item.Price</p>
          <img src="@item.ImageURL" alt="@item.Name" height="200px">
          <p>We have only @item.InStockAmount, hurry up</p>
      }
</div>
</body>
</html>